body {
    height: 100vh;
    background-image: url('https://abrilsaude.files.wordpress.com/2016/10/imc_11.jpg');
    background-size:cover
}

#titulo {
    text-align: center;
    line-height: 0.5;
}
